
@{
  
}
<!DOCTYPE html>
<html>
<head><title>welcome</title>
</head>
    <body>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("主页", "Index", "Home")</li>
            <li>@Html.ActionLink("关于", "About", "Home")</li>
            <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
            <li>@Html.ActionLink("welcome", "welcome", "Home")</li>
        </ul>
      
    </body>

</html>
<h2>welcome</h2>

