
@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>welcome</title>
</head>
<body>
    <div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("主页", "Index", "Home")</li>
            <li>@Html.ActionLink("关于", "About", "Home")</li>
            <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
            <li>@Html.ActionLink("welcome", "welcome", "Home")</li>
        </ul>
    <div><p>当前时间：@DateTime.Now.ToString())</p>
   
        @for (int i = 0; i < 6; i++)
        {
            <li>元素：@(i+1)</li>
        }

    </div>
</body>
</html>
